<div>
  <%= render "shared/list_fp" %>
</div>

<h1>ニックネーム：<%= @planner.name %></h1>

<table>
  <tr>
    <th>日付</th>
    <th>開始時間</th>
    <th>予約ステータス</th>
    <th></th>
  </tr>
  <% @reservation_frames.each do |reservation_frame| %>
  <tr>
    <td><%= reservation_frame.date %></td>
    <td><%= reservation_frame.time_frame.start_at %></td>
    <td>
      <% if reservation_frame.is_reserved(reservation_frame.id) %>
      予約済み
      <% else %>
      未予約
      <% end %>
    </td>
    <td><%= link_to  "キャンセル", delete_reservation_frame_path(reservation_frame.id), method: :put %></td>
  </tr>
  <% end %>
</table>
