<div>
  <%= render "shared/list" %>
</div>

<div>
  <h2>ニックネーム</h2>
  <p class="name"><%= @client.name %></p>
  <textarea style="display: none;" class="name_text"><%= @client.name %></textarea>
  <button type="button" class="btn btn_edit">編集</button>
  <div class="btns" style="display: none;">
    <button type="button" class="btn btn_cancel">キャンセル</button>
    <button type="submit" class="btn btn_update_client">更新</button>
  </div>
  <input type="hidden" value="<%= @client.id %>" class="current_client_id">
</div>

予約一覧
<table>
  <tr>
    <th>日付</th>
    <th>開始時間</th>
    <th>FP名</th>
    <th></th>
  </tr>
  <% @reservations.each do |reservation| %>
  <tr>
    <td><%= reservation.reservation_frame.date %></td>
    <td><%= reservation.reservation_frame.time_frame.start_at %></td>
    <td><%= reservation.reservation_frame.client.name %></td>
  </tr>
  <% end %>
</table>
