<div>
  <%= render "shared/list" %>
</div>

<div>
<h2>ニックネーム：<%= @client.name %></h2>
<%= link_to "編集", edit_client_path(current_client) %>
</div>

<h2>予約一覧</h2>
<table>
  <tr>
    <th>日付</th>
    <th>開始時間</th>
    <th>FP名</th>
    <th></th>
  </tr>
  <% @reservations.each do |reservation| %>
  <tr>
    <td><%= reservation.reservation_frame.date %></td>
    <td><%= reservation.reservation_frame.time_frame.start_at %></td>
    <td><%= reservation.reservation_frame.planner.name %></td>
    <td>
      <% if reservation.reservation_frame.canceled? %>
        FPからキャンセルされました
      <% else %>
        <%= link_to  "キャンセル", reservation_path(reservation), method: :delete %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
