<!DOCTYPE html>
<html>
  <head>
    <title>Pbl</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm bg-dark">
      <h5 class="my-0 me-md-auto font-weight-normal text-white">オンライン家計相談</h3>
      <nav class="my-2 my-md-0 mr-md-3">
        <% if client_signed_in? %>
          <%= render "shared/header", client: @client %>
        <% elsif planner_signed_in? %>
          <%= render "shared/header_fp", planner: @planner %>
        <% else %>
          <%= yield :head %>
        <% end %>
      </nav>
    </div>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <main class="container">
      <%= yield %>
    </main>
      
  </body>
</html>
