<!DOCTYPE html>
<html>
  <head>
    <title>Pbl</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <% if client_signed_in? %>
      <%= render "shared/list", client: @client %>
      <main class="container">
    <% elsif planner_signed_in? %>
      <%= render "shared/list_fp", planner: @planner %>
      <main class="container">
    <% end %>

      <%= yield %>
    </main>
      
  </body>
</html>
